.furit {
	width: 20%;
	height: 150px;
	border: 2px solid green;
	margin: 20px 30px 20px 20px;
	transition: transform 0.1s;
	transform-style: preserve-3d;
	background-image: url(.picgame/basket.jpg);
}

.mold {
	width: 80%;
	height: max-content;
	border: 2px solid grey;
	background-color: bisque;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 70px;
}
